    
    <div>
      <div class="user-btns">
          {{#if user}}
           <a href="/logout" class="btn lo-btn so-btn btn-small z-depth-0
        transparent
            grey-text logged hidden
            text-lighten-2">Logout</a>
            
            {{else}}
            <a data-target="sup" class="btn hidden modal-trigger n-logged su-btn
            btn-small
            z-depth-0 transparent grey-text
            text-lighten-2">Signup</a>
        <a data-target="sin" class="btn hidden n-logged si-btn btn-small
            z-depth-0 
            transparent grey-text
            text-lighten-2 modal-trigger">Login</a>

               <div id="sin" class="form-body modal container">
    
      <div class="form container">
          <h1 class="form-h1">Sign In</h1>
          <form method="POST" action="/login" class="si-form">
        <div class="form-group input-group">
                  <input class="container form-control" type="text"
                      name="username"
                      placeholder="Username">
              </div>
              <div class="form-group input-group">
                  <input class="container form-control"
                      type="password"
                      name="password"
                      placeholder="Password">
              </div>
              <div class="form-group input-group">
                  <button type="submit" class="btn z-depth-0 grey-text
                      in btn-small transparent" value="">Sign in</button>
              </div>
    
          </form>
      </div> 
    </div>

    <div id="sup" class="form-body modal container">
      <div class="form container">
          <h1 class="form-h1">Sign Up</h1>
          <div class="hidden error">
              <i class="fas fa-exclamation-triangle"></i>
              <h7 class="text-warning"></h7>
          </div>
    
          <form method="POST" action="/signup" class="su-form">
            <div class="form-group input-group">
              <input class="container form-control" type="text"
                  name="username" value="squash"
                  placeholder="Username">
          </div>
              <div class="form-group input-group">
                  <input class="container form-control" type="email"
                      name="email" value="squash@gmail.com"
                      placeholder="Email">
              </div>
              <div class="form-group input-group">
                  <input class="container form-control"
                      type="password" value="baseline"
                      name="password"
                      placeholder="Password">
              </div>
              <div class="form-group input-group">
                  <button type="submit" class="btn z-depth-0 grey-text
                      up btn-small text-lighten-2 transparent" value="">Sign Up</button>
              </div>
    
          </form>
    
    
      </div>
    </div>

          {{/if}}
    </div>
 
      <nav class="black">
        <div class="container nav-wrapper">
          <a data-target="cart" class="right sidenav-trigger show-on-large"><i class="fal fa-shopping-cart"></i></a>
          <a href="/" class="brand-logo">
            ClickBeats
          </a>
          <a
            data-target="nav-side"
           
            class="sidenav-trigger"
          >
            <i class="material-icons">menu</i>
          </a>
          <ul class="right hide-on-med-and-down">
            <li>
              <a href="/discover">Discover</a>
            </li>
            <li>
              <a href="">Catagories</a>
            </li>
            <li>
             
            </li>
            <li>
              <a href="/upload">Upload</a>
            </li>
            <li>
              <a href="/mytracks">My Tracks</a>
            </li>
            <li>
              <a href="">Search</a>
            </li>
            {{#if user}}
            <li>
          <a data-target="prof-dd" style=" font-weight: bolder;" class="dropdown-trigger show-on-large blue-text flow-text btn btn-small z-depth-0 grey  btn-floating pulse">{{init}}</a>
        </li>
            {{/if}}
            
          </ul>
          
        </div>
      </nav>

      <ul id="prof-dd" class="black dropdown-content">
        <li>
          <a href="/mytracks" class="white-text">My Tracks</a>
        </li>
        <li>
          <a href="/profile" class="white-text">Profile</a>
        </li>
      </ul>

      <ul class="sidenav black" id="nav-side">
        <li>
          <a class="white-text" href="/discover">
            Discover
          </a>
        </li>
        <li>
          <a class="white-text">Catagories</a>
        </li>
        <li>
          
        </li>
        <li>
          <a href="/upload" class="white-text">
            Upload
          </a>
        </li>
        <li>
          <a href="/mytracks" class="white-text">
            My Tracks
          </a>
        </li>
        <li>
          <a class="white-text">Search</a>
        </li>
        <li>
          <a class="white-text">Profile</a>
        </li>
      </ul>
      
    </div>

  <ul class="sidenav black" id="cart">
    <li>Item 1</li>
  </ul>

        