    
    <div>
      
 
      <nav class="black ">
        <div class="container nav-wrapper">
          <div class="right hide-on-med-and-down user-btns">
          {{#if user}}
           <a href="/logout" class="btn lo-btn so-btn btn-small z-depth-0
        transparent
            grey-text hidden
            text-lighten-2">Logout</a>
            
            {{else}}
            <a href="/signup" class="btn hidden modal-trigger su-btn
            btn-small
            z-depth-0 transparent grey-text
            text-lighten-2">Signup</a>
        <a href="/login" class="btn hidden si-btn btn-small
            z-depth-0 
            transparent grey-text
            text-lighten-2 modal-trigger">Login</a>


          {{/if}}
    </div>
          <a data-target="cart" class="right sidenav-trigger show-on-large"><i class="fal fa-shopping-cart"></i></a>
          <a href="/" class="brand-logo">
            ClickBeats
          </a>
          <a
            data-target="nav-side"
           
            class="sidenav-trigger"
          >
            <i class="material-icons">menu</i>
          </a>
          <ul class="right hide-on-med-and-down">
            <li>
              <a href="/discover">Discover</a>
            </li>
            <li>
              <a href="">Catagories</a>
            </li>
            <li>
             
            </li>
            <li>
              <a href="/upload">Upload</a>
            </li>
            <li>
              <a href="/mytracks">My Tracks</a>
            </li>
            <li>
              <a href="">Search</a>
            </li>
            {{#if user}}
            <li>
          <a data-target="prof-dd" style=" font-weight: bolder;" class="dropdown-trigger show-on-large blue-text flow-text btn btn-small z-depth-0 grey  btn-floating pulse">{{init}}</a>
        </li>
            {{/if}}
            
          </ul>
          
        </div>
      </nav>

      <ul id="prof-dd" class="black dropdown-content">
        <li>
          <a href="/mytracks" class="white-text">My Tracks</a>
        </li>
        <li>
          <a href="/profile" class="white-text">Profile</a>
        </li>
      </ul>

      <ul class="sidenav black" id="nav-side">
        <li>
          <a class="white-text" href="/discover">
            Discover
          </a>
        </li>
        <li>
          <a class="white-text">Catagories</a>
        </li>
        <li>
          
        </li>
        <li>
          <a href="/upload" class="white-text">
            Upload
          </a>
        </li>
        <li>
          <a href="/mytracks" class="white-text">
            My Tracks
          </a>
        </li>
        <li>
          <a class="white-text">Search</a>
        </li>
        <li>
          <a class="white-text">Profile</a>
        </li>
          {{#if user}}
         <li> <a href="/logout" class="btn lo-btn so-btn btn-small z-depth-0
        transparent
            grey-text hidden
            text-lighten-2">Logout</a></li> 
            
            {{else}}
         <li>  <a href="/signup" class="btn hidden modal-trigger su-btn
            btn-small
            z-depth-0 transparent grey-text
            text-lighten-2">Signup</a></li> 
     <li>  <a href="/login" class="btn hidden si-btn btn-small
            z-depth-0 
            transparent grey-text
            text-lighten-2 modal-trigger">Login</a></li> 

          {{/if}}
    </div>
      </ul>
      
    </div>

  <ul class="sidenav black" id="cart">
    <li>Item 1</li>
  </ul>

        