{{> header}}
  <div class="container">
    <form class="row search">
      <input name="search" class="col search-bar s4" type="search" />
      <button
        class="search-btn transparent btn btn-small z-depth-0"
        type="submit"
      >
        <i class="fas fa-search"></i>
      </button>
    </form>
    <div class="tracks"></div>
    <button class="btn more transparent btn-small z-depth-0">
      More
    </button>
  </div>
