{{> header}}
<div class="b-cont container">
<h1>{{title}}</h1>

<h4>SONGS AVAILABLE</h4>

<ol>
    {{#each songs}}
  <li class="white-text"> {{this.title}}
  </li>
    {{/each}}
</ol>

</div>

{{> footer}}
