{{>header}}
<div class="b-cont">
<nav class="user-nav grey darken-3 black">
    <div class="container grey darken-3 nav-wrapper">
      
      <a data-target="prof" class="center sidenav-trigger user-brand show-on-large brand-logo">
        {{user.username}}
      </a>
     
      <ul class="right hide-on-med-and-down">
        <li>
          <a href="/mytracs"></a>Tracks</a>
        </li>
        <li>
          <a href="/search">Search</a>
        </li>
      </ul>
      
    </div>
  </nav>
<ul class="black sidenav" id="prof">
<div class="center prof-pic">
    <img class="center" src="./images/placeholder-person.jpg">
</div>
<div class="container prof-desc">
<p class="white-text flow-text username"></p>
<p class="white-text flow-text songs-dom">Songs: 
  <ol class="right songs"></ol>
</p>
</div>
</ul>
</div>

{{> footer}}
