
<nav class="user-nav black">
    <div class="container nav-wrapper">
      
      <a data-target="prof" class="sidenav-trigger user-brand show-on-large brand-logo">
        
      </a>
      <a
        data-target="nav-side"
       
        class="sidenav-trigger"
      >
        <i class="material-icons">menu</i>
      </a>
      <ul class="right hide-on-med-and-down">
        <li>
          <a href="/mytracs"></a>Tracks</a>
        </li>
        <li>
          <a href="/search">Search</a>
        </li>
      </ul>
      
    </div>
  </nav>
<ul class="black sidenav" id="prof">
<div class="center prof-pic">
    <img class="center" src="./images/placeholder-person.jpg">
</div>
<div class="container prof-desc">
<p class="white-text flow-text username"></p>
<p class="white-text flow-text songs-dom">Songs: 
  <ol class="right songs"></ol>
</p>
</div>